<div class='row'>
  <div class='col-md-12'>
    <h1>Select your game!</h1>
    <div id='Games'>
    <: games.forEach((game) => { :>
      <div class='col-md-4'>
        <div class="panel panel-victory" data-game='<:=game:>'>
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class='panel-body' style='background-image: url(/static/images/static.gif)'>
            <a href='/<:=game:>'>
              <i class='fa fa-play fa-4x'></i>
            </a>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
    <: }) :>
    </div>
  </div>
</div>
<script type="text/javascript">
  <: games.forEach((game) => { :>
    $.getJSON('/static/games/<:=game:>/index.json').then(function(game) {
      var surface = $('[data-game=<:=game:>]');
      $('h3.panel-title', surface).html(game.name);
      $('div.panel-footer').html(game.platforms);
    });
  <: }) :>
  clippy.load({name:'Clippy', path:'/static/images/agents/'}, function(agent) {
    agent.show();
    agent.speak("Welcome to your doom!");
  });
</script>
