<div class='row'>
  <div class='col-md-12'>
    <div class="jumbotron rainbowtron">
    	<h1><:=game.name:></h1>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-9'>
    <ul>
    <: game.song.forEach((song, index) => { :>
      <li data-track='<:=index:>'>
      <: if(song.platform) { :>
        <:=song.platform:> -
      <: } :>
        ???
      </li>
    <: }) :>
    </ul>
  </div>
  <div class='col-md-3'>
    <h1 class='text-center'><span id='Score'>0</span>/<:=Object.keys(game.song).length*4:></h1>
    <h1 id='Clock' class='text-center'>8:00</h1>
    <div id='Buttons'>
      <button id='No' class='btn btn-danger pull-left'>No</button>
      <button id='Yes' class='btn btn-success pull-right'>Yes</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  var round = <:-JSON.stringify(game):>,
      buttons = $('#Buttons'),
      score = 0,
      player,
      agent,
      current_track,
      play = function(track) {
        current_track = track;
        if(round.song[track].show) {
          $('html, body').css({'background-image':"url(/static/games/<:=game.guid:>/"+round.song[track].wallpaper+")"});
          buttons.hide();
        } else {
          $('html, body').css({'background-image':'none'});
          buttons.show();
        }
        console.log(round.song[current_track].name);
        $('#jp_container_1').fadeIn();
        player.jPlayer("setMedia", { mp3: '/static/games/<:=game.guid:>/'+round.song[track].song }).jPlayer("play");
      },
      clock = $('#Clock'),
      time = function(start, end) {
        var duration = (8*60)-((end.getTime() - start.getTime())/1000), //8:00 on the clock
            min = Math.floor((duration/60) << 0),
            sec = Math.floor(duration % 60);
        if(duration > 0) {
          return min+':'+(sec < 10 ? '0'+sec : sec);
        } else {
          return "0:00";
        }
      },
      start = new Date();
  buttons.hide();
  clippy.load({name:'Clippy', path:'/static/images/agents/'}, function(_agent) {
    agent = _agent;
    agent.show();
    player = $("#jplayer_1").jPlayer({
	    ready: function() {
        $('#No').on('click', function() {
          var hint;
          if(round.song[current_track].hint.length > 0) {
            hint = round.song[current_track].hint.shift();
            console.log(round.song[current_track].name+':'+hint);
            agent.speak(hint);
          } else {
            agent.speak('There are no more hints!');
            round.song[current_track].show = true;
            $('html, body').css({'background-image':"url(/static/games/<:=game.guid:>/"+round.song[current_track].wallpaper+")"});
            $('[data-track='+current_track+']').html(round.song[current_track].name);
            buttons.hide();
          }
        });
        $('#Yes').on('click', function() {
          var points = round.song[current_track].hint.length+1;
          score += points;
          $('#Score').html(score);
          agent.speak('+'+points+' points!');
          round.song[current_track].show = true;
          $('html, body').css({'background-image':"url(/static/games/<:=game.guid:>/"+round.song[current_track].wallpaper+")"});
          $('[data-track='+current_track+']').html(round.song[current_track].name);
          buttons.hide();
        });
        $('[data-track]').on('click', function() {
          play($(this).data('track'));
        });
        setInterval(function() {
          clock.html(time(start, new Date()));
        }, 500);
        agent.speak("<:=game.hint:>");
        console.log("<:=game.hint:>");
			},
      swfPath: "/static/js",
      supplied: "mp3"
    }).on($.jPlayer.event.ended, function() {
		 play(current_track);
    });
  });
</script>
